<div class="chat-head">
 <div class="group">
 <%= @room.name %>
 </div>
 <div class="end">
 <%= link_to "チャットを終了する", room_path(@room), method: :delete %>
 </div>
</div>

<div class="chat">
 <%= render partial: "messages", collection: @messages %>
</div>

<%# <div class="form"> %>
<%= form_with model: [@room, @message], html:{class:"form"}, local:true do |f| %>
 <div class="form-input">
  <%# <input placeholder="type a message" class="text-form"> %>
  <%= f.text_field :content, class: "text-form",placeholder: "type a message" %>
  <label class="form-image">
   <span class="image-file">画像</span>
   <%= f.file_field :image, class: 'hidden' %>
   </label>
 </div>
  <%# <input type ="submit" value="送信" class="submit-btn"> %>
  <%= f.submit "送信", class: "submit-btn" %>
<% end %>
</div>

