<div class="side-top">
 <div class="user-name">
  <%# #3<%= link_to current_user.name , edit_user_path(current_user) %>
  <%= link_to edit_user_path(current_user) do %>
      <%= current_user.name %>
    <% end %>
  </div>
  <div class="edit-room">
  <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>

<div class="side-content">
<div clss="rooms">
  <% current_user.rooms.each do |room| %>
  <div class="room">
   <div class="room-name">
    <%# <a href= "#"><%= room.name</a>linkがきたから消した %>
    <%= link_to room.name,  room_messages_path(room) %>
   </div>
  </div>
  <% end %>
</div>
</div>